<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="provider" value="System.Data.SqlClient"/>
  </appSettings>
  <connectionStrings>
    <add name="System.Data.SqlClient" connectionString="Data Source=STEGI-PC\SQL2008;Initial Catalog=ApolloDB;Integrated Security=True"/>
  </connectionStrings>
</configuration>