<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Apollo.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Apollo.Core.Properties.Settings>
            <setting name="ServiceUrl" serializeAs="String">
                <value>http://localhost:1253/</value>
            </setting>
            <setting name="UseCustomProxy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>Info</value>
            </setting>
        </Apollo.Core.Properties.Settings>
    </applicationSettings>
</configuration>